.mat-mdc-button-disabled {
  pointer-events: none;
}
.clear-button {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  opacity: 0.5;
}
.mat-mdc-form-field {
  margin-left: 3px;
  margin-right: 3px;
}
.search-fields {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    justify-content: center;
    .mat-mdc-form-field {
      width: 300px;
    }
  }
}
