.mat-mdc-button-disabled {
  pointer-events: none;
}
.clear-button {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  opacity: 0.5;
}
.mat-mdc-form-field {
  margin-left: 3px;
  margin-right: 3px;
}
.search-fields {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    justify-content: center;
    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.reset-fields-button {
  min-width: 100px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.example-container {
  position: relative;
  margin-top: 50px;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.5s infinite;
}

.mat-column-title,
.mat-column-rating,
.mat-column-ddc,
.mat-column-lcc,
.mat-column-more {
  max-width: 220px;
}
.mat-column-ebook_access,
.mat-column-year {
  max-width: 80px;
}
.half {
  clip-path: inset(0 50% 0 0);
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
