<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div style="width: 100%; display: flex; justify-content: space-between">
    <button
      class="reset-fields-button"
      type="button"
      mat-button
      (click)="clearForm()"
    >
      Reset fields
    </button>
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select formControlName="sort">
        @for (option of sortOptions; track $index) {
        <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-fields">
    <mat-form-field appearance="outline">
      <mat-label
        >Book title
        <mat-icon
          (click)="titleTooltip.show()"
          #titleTooltip="matTooltip"
          matTooltip="
              Will find any books with '{{ title?.value }}' in the title
            "
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="title" matInput placeholder="Lord of the Rings" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('title')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Author
        <mat-icon
          (click)="authorTooltip.show()"
          #authorTooltip="matTooltip"
          matTooltip="Will find any books written by '{{ author?.value }}'
            (multiple allowed, separated by spaces or commas)"
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="author" matInput placeholder="Roald Dahl" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('author')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >ISBN
        <mat-icon
          (click)="isbnTooltip.show()"
          #isbnTooltip="matTooltip"
          matTooltip="
             10-digit and 13-digit ISBNs are allowed
          "
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input
        formControlName="isbn"
        matInput
        #input
        maxlength="13"
        placeholder="1234567890"
        bfIsbnValidator
      />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('isbn')!"
      ></bf-clear-form-field>
      <mat-hint
        >@if(isSearchButtonDisabled() && isbn){
        <span>ISBN is invalid</span>
        @if(isbn.value && isbn.value.length < 10) { {{ isbn.value.length }}/10 }
        @else{ {{ isbn.value?.length }}/13 }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Publish year
        <mat-icon
          (click)="publishYearTooltip.show()"
          #publishYearTooltip="matTooltip"
          matTooltip="
           Will find any book published in the year '{{ publishYear?.value }}'.
           For range search, use e.g '2000-2010' or '*-2010 for anything published before and up to the year 2010'
        "
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="publishYear" matInput placeholder="2024" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('publishYear')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Language
        <mat-icon
          (click)="languageTooltip.show()"
          #languageTooltip="matTooltip"
          matTooltip="
          enter the first three letters of the language. japan uses 'jpn'. 'mul'
          for multiple and 'und' for undetermined
        "
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input
        formControlName="language"
        maxlength="3"
        matInput
        placeholder="eng"
      />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('language')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Place
        <mat-icon
          (click)="placeTooltip.show()"
          #placeTooltip="matTooltip"
          matTooltip="Will find any books about '{{ place?.value }}'
          (multiple allowed, separated by spaces or commas)"
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="place" matInput placeholder="Utrecht" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('place')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Subject
        <mat-icon
          (click)="subjectTooltip.show()"
          #subjectTooltip="matTooltip"
          matTooltip="Will find any books about '{{ subject?.value }}'
          (multiple allowed, separated by spaces or commas)"
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="subject" matInput placeholder="Fantasy" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('subject')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Publisher
        <mat-icon
          (click)="publisherTooltip.show()"
          #publisherTooltip="matTooltip"
          matTooltip=" Will find any books by a publisher with '{{
            publisher?.value
          }}' in their name"
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="publisher" matInput placeholder="Malmberg" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('publisher')!"
      ></bf-clear-form-field>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label
        >Character
        <mat-icon
          (click)="personTooltip.show()"
          #personTooltip="matTooltip"
          matTooltip="Will find any books with '{{ person?.value }}' in it
        (multiple allowed, separated by spaces or commas)"
          matTooltipPosition="above"
          fontIcon="info"
      /></mat-label>
      <input formControlName="person" matInput placeholder="Harry Potter" />
      <bf-clear-form-field
        matSuffix
        [control]="searchForm.get('person')!"
      ></bf-clear-form-field>
    </mat-form-field>
  </div>

  <div
    style="width: fit-content"
    matTooltip="Filled fields need to be valid."
    [matTooltipDisabled]="!isSearchButtonDisabled()"
  >
    <button type="submit" mat-flat-button [disabled]="isSearchButtonDisabled()">
      Search
    </button>
  </div>
</form>

<div #listContainer>
  <h1>Books</h1>
  @if (books(); as books) {
  <ul class="book-list">
    @for (book of books.docs; track book.key) {
    <li>
      @if (!isLoading()) {
      <bf-book-list-item [book]="book"></bf-book-list-item>
      } @else {
      <bf-book-skeleton></bf-book-skeleton>
      }
    </li>
    } @empty {
    <li>No books available.</li>
    }
  </ul>
  @if (totalPages(); as totalPages;) {
  <div style="width: 100%; display: flex; justify-content: center">
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="books.numFound"
      [pageSize]="limit"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="page() - 1"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  } } @else {
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
