<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <div
    style="display: flex; align-items: baseline; justify-content: space-between"
  >
    <input
      type="text"
      placeholder="Lord of the Rings"
      formControlName="title"
    />
    <select formControlName="sort">
      @for (item of sortOptions; track $index) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
  </div>
  <label for="author">Author</label>
  <div>
    <input type="text" placeholder="Roald Dahl" formControlName="author" />
  </div>

  <label for="isbn">ISBN</label>
  <div>
    <input type="number" placeholder="1234567890" formControlName="isbn" />
  </div>
  <label for="publishYear1">Year published</label>
  <div style="display: flex; align-items: baseline">
    <input
      style="margin-right: 5px"
      type="string"
      placeholder="2000"
      formControlName="publishYear1"
    />

    <input type="string" placeholder="2020" formControlName="publishYear2" />
  </div>

  <label for="language">Language</label>
  <div>
    <input type="text" placeholder="eng" formControlName="language" />
  </div>
  <label for="subject">Subject</label>
  <div>
    <input type="text" placeholder="fantasy" formControlName="subject" />
  </div>
  <label for="publisher">Publisher</label>
  <div>
    <input type="text" placeholder="Malmberg" formControlName="publisher" />
  </div>
  <label for="person">Character</label>
  <div>
    <input type="text" placeholder="Harry Potter" formControlName="person" />
  </div>
  <button type="button" (click)="clearForm()">Reset fields</button>
  <button type="submit">Search</button>
</form>
<h1>Books</h1>

@if (books$ | async; as books) {
<ul class="book-list">
  @for (book of books.docs; track book.key) {
  <li>
    <bf-book-list-item [book]="book"></bf-book-list-item>
  </li>
  } @empty {
  <li>No books available.</li>
  }
</ul>
} @else {
<div class="loader">
  <p class="loader__spinner"></p>
</div>
}
