.mat-mdc-button-disabled {
  pointer-events: none;
}
.clear-button {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  opacity: 0.5;
}
.mat-mdc-form-field {
  margin-left: 3px;
  margin-right: 3px;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.search-fields {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    justify-content: center;
  }
}
.search-field-info {
  cursor: pointer;
}
.tooltip {
  @media screen and (max-width: 700px) {
    font-size: 2rem !important;
  }
}
.reset-fields-button {
  min-width: 100px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.container {
  margin-top: 50px;
  @media screen and (max-width: 400px) {
    max-width: 375px;
  }
}
.mat-mdc-cell,
.mat-mdc-header-cell {
  @media screen and (max-width: 500px) {
    padding: 2px;
  }
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.5s infinite;
}

.mat-column-title,
.mat-column-ebook_access,
.mat-column-rating {
  max-width: 220px;
  @media screen and (max-width: 500px) {
    max-width: 75px;
  }
  @media screen and (max-width: 400px) {
    max-width: 60px;
  }
}
.mat-column-ddc_sort,
.mat-column-lcc_sort {
  @media screen and (max-width: 500px) {
    max-width: 60px;
  }
  @media screen and (max-width: 400px) {
    max-width: 45px;
  }
  max-width: 150px;
}

.mat-column-first_publish_year {
  @media screen and (max-width: 500px) {
    max-width: 40px;
  }
  max-width: 80px;
}

.mat-column-more {
  @media screen and (max-width: 500px) {
    max-width: 25px;
    .mat-icon {
      font-size: 2rem;
      margin-top: 3px;
    }
  }
  max-width: 70px;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
