<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <div style="display: flex; justify-content: space-between">
    <input
      type="text"
      placeholder="Lord of the Rings"
      formControlName="title"
    />
    <div>
      <select formControlName="sort">
        @for (item of sortOptions; track $index) {
        <option [value]="item">{{ item }}</option>
        }
      </select>
      <select formControlName="limit">
        @for (item of limitOptions; track $index) {
        <option [value]="item">{{ item }}</option>
        }
      </select>
    </div>
  </div>
  <label for="author">Author</label>
  <div>
    <input type="text" placeholder="Roald Dahl" formControlName="author" />
  </div>

  <label for="isbn">ISBN</label>
  <div>
    <input
      type="text"
      placeholder="1234567890"
      formControlName="isbn"
      bfIsbnValidator
    />
    <div *ngIf="invalidIsbn()">
      Invalid ISBN format. Please enter a valid 10-digit or 13-digit ISBN.
    </div>
  </div>
  <label for="publishYear1">Year published</label>
  <div style="display: flex">
    <input
      style="margin-right: 5px"
      type="string"
      placeholder="2000"
      formControlName="publishYear1"
    />

    <input type="string" placeholder="2020" formControlName="publishYear2" />
  </div>

  <label for="language">Language</label>
  <div>
    <input type="text" placeholder="eng" formControlName="language" />
  </div>
  <label for="subject">Subject</label>
  <div>
    <input type="text" placeholder="fantasy" formControlName="subject" />
  </div>
  <label for="publisher">Publisher</label>
  <div>
    <input type="text" placeholder="Malmberg" formControlName="publisher" />
  </div>
  <label for="person">Character</label>
  <div>
    <input type="text" placeholder="Harry Potter" formControlName="person" />
  </div>
  <button type="button" (click)="clearForm()">Reset fields</button>
  <button type="submit" [disabled]="invalidIsbn()">Search</button>
</form>

<div #listContainer>
  <h1>Books</h1>
  @if (books(); as books) {
  <ul class="book-list">
    @for (book of books.docs; track book.key) {
    <li>
      @if (!isLoading()) {
      <bf-book-list-item [book]="book"></bf-book-list-item>
      } @else {
      <bf-book-skeleton></bf-book-skeleton>
      }
    </li>
    } @empty {
    <li>No books available.</li>
    }
  </ul>
  @if (totalPages(); as totalPages;) {
  <div class="pagination">
    <button [disabled]="page() === 1" (click)="selectPage(1)">&lt;&lt;</button>
    <button [disabled]="page() === 1" (click)="selectPage(page() - 1)">
      &lt;
    </button>
    @for (page of visiblePages(); track $index) {
    <button [disabled]="page === currentPage()" (click)="selectPage(page)">
      {{ page }}
    </button>
    }
    <button [disabled]="page() === totalPages" (click)="selectPage(page() + 1)">
      >
    </button>
    <button [disabled]="page() === totalPages" (click)="selectPage(totalPages)">
      >>
    </button>
  </div>
  } } @else {
  <div class="loader">
    <p class="loader__spinner"></p>
  </div>
  }
</div>
