@if(row.ratings_average){
<div style="display: flex; flex-direction: row">
  @for (item of getStarsArray(row.ratings_average); track $index) {
  <ng-container>
    <img
      class="rating-star"
      src="star.svg"
      alt="Star Rating"
      [class.half]="isStarHalf($index, row.ratings_average)"
    />
  </ng-container>
  }
</div>
<div style="display: flex; flex-direction: row">
  <p>
    {{ row.ratings_average | number : "1.1-1" }}
  </p>
  <p style="font-size: smaller">&nbsp;({{ row.ratings_count }} reviews)</p>
</div>
}
