.skeleton {
  opacity: 0.7;
  animation: pulse 1.5s infinite;
}

.skeleton-block {
  background-color: #eee;
  margin-bottom: 8px;
  border-radius: 4px;
}

.title {
  height: 24px;
  width: 70%;
}
.rating {
  height: 18px;
  width: 40%;
}
.cover {
  height: 175px;
  width: 120px;
}
.author {
  height: 16px;
  width: 60%;
}
.isbn {
  height: 16px;
  width: 30%;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
