/* Basic Style definitions */
* {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.87);
  box-sizing: inherit;
  line-height: 1.3em;
  margin: calc(2rem - 0.15em) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
  margin-top: 0em;
}
h2,
[role="doc-subtitle"] {
  font-size: 1.4rem;
}
h3 {
  margin: 10px 0;
}

p {
  margin: 0em 0em 1em;
  line-height: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  object-fit: contain;
}

button,
a.button {
  box-sizing: inherit;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  border: none;
  vertical-align: initial;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0.25em 0.25em 0 0;
  padding: 0.8em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 0 rgba(34, 36, 38, 0.15);
  font-size: 0.8rem;
}
button:hover,
a.button:hover {
  background-color: #cacbcd;
}
button:disabled,
a.button:disabled,
button:disabled:hover,
a.button:disabled:hover {
  cursor: not-allowed !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #888888 !important;
}

/* Navbar Style */
nav {
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: inherit;
  margin: 1rem 0em;
  background: #ffffff;
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.3em;
  min-height: 2.9em;
  font-size: 1rem;
  margin-top: 0rem;
  display: flex;
  flex-wrap: wrap;
}
nav a {
  font-size: 1rem;
  box-sizing: inherit;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  user-select: none;
  background: none;
  padding: 0.9em 1.1em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  display: flex;
  align-items: center;
}
nav a:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
nav a.active {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}
nav .actions {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  margin: 0.25em 0.75em;
  gap: 0.5em;
}
nav .actions button {
  margin: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__spinner {
    margin-top: 10px;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #d034db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BookList Styles */
.book-list {
  margin: 0;
}
.book-list .list-item {
  display: grid;
  grid-template-columns: minmax(50px, 120px) auto;
  gap: 0px 0px;
  grid-template-areas:
    "thumbnail ."
    "thumbnail ."
    "thumbnail ."
    "thumbnail ."
    "thumbnail ."
    "thumbnail ."
    "thumbnail .";
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em;
  column-gap: 1em;
}

.book-list a {
  text-decoration: none;
  color: inherit;
}
.book-list a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.book-list img {
  grid-area: thumbnail;

  width: 120px;
}
.book-list h2 {
  margin: 0;
}
.book-list h3 {
  margin-top: 0;
}

/* BookDetails Styles */
.details > h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.details h2 {
  margin-bottom: 0;
  font-size: 1.3em;
}
.details .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.details .header ul {
  margin: 0;
}
.details .header h2 {
  margin-top: 10px;
}
.details .header > div {
  padding-right: 20px;
}
.details .header > div:last-child {
  padding-right: 0;
  min-width: 80px;
}
.details p {
  padding-top: 10px;
  white-space: pre-wrap;
}
.details img {
  width: 200px;
  height: 250px;
  display: block;
  margin: 1em 0;
}

/* comma separated lists (ul, li) */
ul.comma-list {
  display: inline-flex;
  list-style: none;
  gap: 0.2em;
  flex-wrap: wrap;
}
ul.comma-list li {
  display: inline-flex;
}
ul.comma-list li:after {
  content: ", ";
}
ul.comma-list li:last-child:after {
  content: "";
}
/* input syles */
input {
  box-sizing: inherit;
  background: #ffffff;
  border: 1px solid rgba(10, 10, 10, 0.3);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0.3rem;
  transition: color 0.1s ease, border-color 0.1s ease;
  line-height: 1.2;
}
input {
  font-size: 100%;
  overflow: visible;
  margin: 0em;
  max-width: 100%;
  text-align: left;
  padding: 0.7em 1em;
  box-shadow: none;
  padding-right: 2.7em !important;
  border-radius: 0.3rem;
}
select {
  font-size: 100%;
  overflow: visible;
  margin: 0em;
  max-width: 100%;
  text-align: left;
  box-shadow: none;
  padding-right: 2.7em !important;
  border-radius: 0.3rem;
  height: 2.5em;
  margin-right: 3px;
}

/* form styles */
form input {
  width: calc(50% - 4em);
  margin: 5px 0 11px 0;
}
form textarea {
  width: calc(100% - 2.4em);
  margin: 5px 0 22px 0;
}

form input:disabled,
form textarea:disabled {
  background-color: rgba(0, 0, 0, 0.05);
}
form button.clear {
  margin-left: 10px;
}
form fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

form > button[type="submit"] {
  background-color: #287e2b;
  color: #fff;
}
form > button[type="submit"]:hover {
  background-color: #096c0d;
}

form > button {
  background-color: #cb350f;
  color: #fff;
}
form > button:hover {
  background-color: #b41414;
}

body {
  margin: 20px;
  min-width: 320px;
}
/* media screen */
@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    border: none;
    box-shadow: none;
    gap: 0.5em 0;
  }
  nav > a {
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
  nav > a:first-of-type {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-right: none;
  }
  nav > a:last-of-type {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-left: none;
    margin-right: 2em;
  }

  nav .actions {
    margin: 0;
    gap: 0.5rem;
    min-width: 200px;
  }
  nav .actions button {
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .book-list .list-item {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.8rem;
    display: block;
  }
  .book-list img {
    width: 100px;
  }
  .book-list h2 {
    font-size: 1.1rem;
  }
  ul.comma-list {
    width: 100%;
  }
}
